usecase1.5_file_append/usecase1.5_file_append.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<file:config name="File_Config1" doc:name="File Config" doc:id="524c998d-411e-4784-9b71-8f6d75baeb51" >
		<file:connection workingDir="D:\MuleSoft\File connector\o" />
	</file:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3bef7673-0358-4368-a4e4-954ddd5976e6" >
		<http:listener-connection host="0.0.0.0" port="9096" />
	</http:listener-config>
	<flow name="usecase1.5_file_appendFlow" doc:id="07254ae1-3548-421b-bf4f-92bde5f2c061" >
		<file:listener doc:name="On New or Updated File" doc:id="e5c35a54-cd3a-48cf-8e3f-ce836c8d527a" config-ref="File_Config1" directory="D:\MuleSoft\File connector\i">
			<scheduling-strategy >
				<fixed-frequency timeUnit="SECONDS"/>
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="5f352bc0-b7ae-4f84-9de3-b31baa8d03c9" message="#[payload]"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="f264c929-001b-45ee-b5e3-1e03304ec31c" variableName="xmlfile1"/>
		<flow-ref doc:name="Flow Reference" doc:id="c2d6943b-3c1f-41f6-ba91-05fc92b6ed64" name="usecase1.5_file_appendSub_Flow"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="cc3951ab-5ee8-40be-afc5-32b223ba85bc" type="FILE:ACCESS_DENIED, FILE:CONNECTIVITY, FILE:FILE_ALREADY_EXISTS, FILE:FILE_LOCK, FILE:ILLEGAL_CONTENT, FILE:ILLEGAL_PATH, FILE:RETRY_EXHAUSTED">
				<ee:transform doc:name="Transform Message" doc:id="b9bd376b-ae3a-40c1-8529-4ce98379afa7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": 500,
	"message": error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<sub-flow name="usecase1.5_file_appendSub_Flow" doc:id="10d9d6a5-c539-47a4-a4ba-92b3d111aae3" >
		<try doc:name="Try" doc:id="4ebde87a-0a97-46e1-bbad-c654d009868f" >
			<file:read doc:name="Read" doc:id="597846e9-7e3c-4683-bb87-304b38d5e8fb" config-ref="File_Config1" path="D:\MuleSoft\File connector\o\bdetails2.xml" />
			<logger level="INFO" doc:name="Logger" doc:id="bbe2d312-070b-4609-90c1-369cbbbd46b2" message="subflow : #[payload] and #[vars.xmlfile1]" />
			<ee:transform doc:name="Transform Message" doc:id="59f0e516-084d-4036-9410-aba16e4d833c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
	"integration tools":{
		(vars.xmlfile1.*books map{
			($)
		}),
		(payload.*books map{
			($)
		}),
		
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<set-payload value="#[payload]" doc:name="Set Payload" doc:id="1878aff5-798d-4268-a51b-2bb48874a6cb" />
			<file:write doc:name="Write" doc:id="7899a382-ada6-4758-889b-c333c7afb57c" config-ref="File_Config1" path="D:\MuleSoft\File connector\o\bdetails2.xml" />
			<logger level="INFO" doc:name="Logger" doc:id="81f09f5d-52c3-4940-904c-2bc3d7bd6617" message="#[payload] appended data successfully added to the file " />
			<flow-ref doc:name="Flow Reference" doc:id="23a65b6c-21fa-416b-ab80-511554f31727" name="jms_publish" />
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="fc8137ce-ba65-4e83-9806-b9d6fdbc710b" type="ANY">
					<ee:transform doc:name="Transform Message" doc:id="d554cef0-880a-488d-8ae2-8791a5658913" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": 500,
	"message": error.description
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-propagate>
			</error-handler>
		</try>
	</sub-flow>
	<flow name="jms_publish" doc:id="e54346ed-e17d-44b0-b8c9-821ab051c3c9" >
		<http:listener doc:name="Listener" doc:id="dc99fe40-6dfc-4d46-9d64-35583562faaa" config-ref="HTTP_Listener_config" path="/append"/>
		<jms:publish doc:name="Publish" doc:id="c10705fc-6b42-4907-a9e9-9db00abb1c8e" config-ref="JMS_Config" destination="Output"/>
		<logger level="INFO" doc:name="Logger" doc:id="1446752c-e525-445f-b088-a6470e8760c6" message="message sent successfully"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="453bbd19-fe84-4a37-a75a-55c8ff6ef3dd" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="7bd74bbe-4f5f-47d1-9aab-c8df369b6b16" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": 500,
	"message": error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
