invokesoapws/src/main/mule/invokesoapws.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="be8a03ce-8581-424c-be02-926674c8d9db" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="39863c4d-5765-4d9c-99fa-4524f4b6fd52" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<flow name="invokesoapwsFlow" doc:id="ac65498b-258c-4cc7-9e16-6f121fc7f76c" >
		<http:listener doc:name="Listener" doc:id="9eded2da-964c-4759-9732-76ca67bc8c2c" config-ref="HTTP_Listener_config" path="/soap"/>
		<set-variable value="#[attributes.queryParams.num1]" doc:name="Set Variable" doc:id="bf104838-9ca9-454c-8281-592f2e41898f" variableName="var1"/>
		<set-variable value="#[attributes.queryParams.num2]" doc:name="Set Variable" doc:id="b1f8cb18-384f-41ac-82a2-989ab97138b0" variableName="var2"/>
		<ee:transform doc:name="Transform Message" doc:id="9153e7c3-36e0-4dcc-aa70-df2d0868d7bc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: vars.var1 as Number,
		ns0#intB: vars.var2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="4665fab7-b9d2-44c0-8a52-297610249c93" config-ref="Web_Service_Consumer_Config" operation="Add"/>
		<logger level="INFO" doc:name="Logger" doc:id="e2acfed1-9b9e-4692-b1ae-ccc15235207e" message="#[payload.body.AddResponse.AddResult]"/>
	</flow>
</mule>
